{% extends "base.html" %}

{% block page_title %}
    All Challenges
{% endblock %}

{% block content %}
    <h1>All Challenges</h1>
    <ul>
        {% for month in months %}
        <li><a href="/challenges/{{ month }}">{{ month|title }}</a></li>
        <!-- here upper side writen href url is hard corded for dynamic generation -->

        <li><a href="{% url 'month-challenge' month=month %}">{{ month }}</a></li>
        <!-- In url we set the name for dynamic generation of url we use it here, and month is argument -->
        {% endfor %}
    </ul>
{% endblock %}
