{% extends "base.html" %}
{% load static %}

{% block page_title %}
    All Challenges
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}" />
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}

    <ul>
        {% for month in months %}
        <li><a href="/challenges/{{ month }}">{{ month|title }}</a></li>
        <!-- here upper side writen href url is hard corded for dynamic generation -->

        <li><a href="{% url 'month-challenge' month=month %}">{{ month }}</a></li>
        <!-- In url we set the name for dynamic generation of url we use it here, and month is argument -->
        {% endfor %}
    </ul>
{% endblock %}
