@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* The upper font imported from google */

html{
    font-family: 'Anton SC', sans-serif;;
}

body{
    margin: 0;
    background-color: #262626;
}